body {
	background-color: #AAFFFF;
}

#info-div {
	position: absolute;
	bottom: 2%;
	left: 1%;
	height: 68%;
	width: 40.5%;
	border: 2px solid;
	border-radius: 10px;
	background-image: linear-gradient(to bottom, #CCCCFF, #FFFFFF);
	/* thx to SO */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#canvas {
	position: absolute;
	right: 1%;
	bottom: 2%;
	width: 56.5%;
	height: 68%;
	border: 2px solid;
	border-radius: 10px;
	background-color: #FFFFFF;
	/* thx to SO */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#help {
	/*margin-top: 1%;*/
}

#wiki-link:link {
	text-decoration: none;
	color: #0000FF;
}

#wiki-link:hover {
	color: #0000FF;
	background-color: #9999FF;
	cursor: help;
}

#wiki-link:active {
	color: #0000FF;
	background-color: #5555FF;
	cursor: help;
}

#img-link {
	text-decoration: none;
}

#img-link:hover {
	cursor: zoom-in;
}

#info-img1 {
	width: 30%;
	margin-left: 20px;
	border-radius: 5px;
	border: 2px solid;
	border-color: #000000;
}

#info-header {
	text-align: center;
	font-size: 3.5vmin;
}

#info-text {
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
	font-size: 1.6vmin;
}

.info-text {
	font-family: Lucida Console;
}

.title-top {
	margin-top: 70px;
	text-align: center;
	font-size: 80px;
	font-family: Lucida Console;
}

.top-img {
	position: absolute;
	width: 30%;
	height: 22%;
    top: 4%;
    left: 35%;
    right: 35%;
}

.corner-ul {
	position: absolute;
	width: 20%;
	height: 26%;
    top: 2%;
    left: 1%;
	border-radius: 10px;
}

.corner-ur {
	position: absolute;
	width: 20%;
	height: 26%;
    top: 2%;
    right: 1%;
	border-radius: 10px;
}